.App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 3px solid var(--holberton-red) !important;
  }
  
  .App-footer p {
    text-align: center;
    padding: 16px 0;
  }